# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt

In [2]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [3]:
# Convert the date column format from string to datetime
df['date'] = pd.to_datetime(df['date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19550 entries, 0 to 19549
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   station  19550 non-null  object
 1   date     19550 non-null  datetime64[ns]
 2   prcp     18103 non-null  float64
 3   tobs     19550 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 611.1+ KB

In [4]:
# Set the date column as the DataFrame index
df.set_index('date', inplace=True)
df.head()

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73

### Compare June and December data across all years

In [5]:
from scipy import stats

In [6]:
june = df[df.index.month == 6]
june

                station  prcp  tobs
date
2010-06-01  USC00519397  0.00    78
2010-06-02  USC00519397  0.01    76
2010-06-03  USC00519397  0.00    78
2010-06-04  USC00519397  0.00    76
2010-06-05  USC00519397  0.00    77
...                 ...   ...   ...
2017-06-26  USC00516128  0.02    79
2017-06-27  USC00516128  0.10    74
2017-06-28  USC00516128  0.02    74
2017-06-29  USC00516128  0.04    76
2017-06-30  USC00516128  0.20    75

[1700 rows x 3 columns]

In [7]:
# Average temps for June
june_temp_avg = june["tobs"].mean()
june_temp_avg
print(f"The average temperature in Honolulu, HI for the month of June is {june_temp_avg}.")

The average temperature in Honolulu, HI for the month of June is 74.94411764705882.

In [8]:
dec = df[df.index.month == 12]
dec

                station  prcp  tobs
date
2010-12-01  USC00519397  0.04    76
2010-12-03  USC00519397  0.00    74
2010-12-04  USC00519397  0.00    74
2010-12-06  USC00519397  0.00    64
2010-12-07  USC00519397  0.00    64
...                 ...   ...   ...
2016-12-27  USC00516128  0.14    71
2016-12-28  USC00516128  0.14    71
2016-12-29  USC00516128  1.03    69
2016-12-30  USC00516128  2.37    65
2016-12-31  USC00516128  0.90    65

[1517 rows x 3 columns]

In [9]:
# Identify the average temperature for December
dec_temp_avg = dec["tobs"].mean()
dec_temp_avg
print(f"The average temperature in Honolulu, HI for the month of December is {dec_temp_avg}.")

The average temperature in Honolulu, HI for the month of December is 71.04152933421226.

In [10]:
june_stats = stats.shapiro(june['tobs'])
june_stats
print(june_stats)
dec_stats = stats.shapiro(dec['tobs'])
dec_stats
print(dec_stats)

ShapiroResult(statistic=0.983282744884491, pvalue=3.5219510684594835e-13)
ShapiroResult(statistic=0.9843476414680481, pvalue=9.044617485520767e-12)

In [11]:
# Run unpaired t-test
stats.ttest_ind(june["tobs"], dec["tobs"])

Ttest_indResult(statistic=31.60372399000329, pvalue=3.9025129038616655e-191)

### Analysis

I ran an indepedant t-test, with a null hypthosis stating that the average temperature during the months of June and   
December in Honolulu, HI would be the same. I can reject the null hypothesis because the p-values are significantly less than  
0.05.